# Environments & secrets
.venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# IDE / editor
.vscode/
.idea/

# OS junk
Thumbs.db
Desktop.ini
.DS_Store

# Logs & local data
*.log